extends layout

block content
    form(action="/new", method="post")#form
        label User
        br
        input(type="text", name="user", placeholder="Your name", required=true) 
        
        br 
        br

        label Message  
        br
        textarea(cols="38", rows="7", type="text", name="message", placeholder="Some message", required=true)
        
        br
        br 
        button Submit!