extends layout

block content  
  form(type="submit" action="/new" method="get")
    button Add a message!
  
  br
  
  ul#items
    each item in messages
      li
        h4= item.user
        p: i #{item.text}
        p: i #{item.added}

  br