doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav#nav
      ul.nav#navbar
        li.active
          a(href='/') Home
        li
          a(href='/index') Messages
        li
          a(href='/new') New Message

    h2 Mini Message Board with Express and Pug

    div#content
      block content
